<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>self_promotion_2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F69AA4B1BCC8C1F0092A7C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F69AA5F1BCC8C1F0092A7C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F69AA6A1BCC8C1F0092A7C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
